Step 1. Import the necessary libraries

In [3]:
import pandas as pd

import dataset

In [5]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

Step 4. See the first 10 entries

In [7]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Step 5. What is the number of observations in the dataset?

In [8]:
chipo.shape[0]

4622

Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?

In [13]:
chipo.groupby(['item_name']).count().sort_values(['quantity'], ascending = False).head(1).reset_index()['item_name']

0    Chicken Bowl
Name: item_name, dtype: object


Step 10. For the most-ordered item, how many items were ordered?

In [14]:
chipo.groupby(['item_name']).sum().sort_values(['quantity'], ascending = False).head(1)['quantity']

<ipython-input-14-de0c365a7427>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby(['item_name']).sum().sort_values(['quantity'], ascending = False).head(1)['quantity']

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

Step 11. What was the most ordered item in the choice_description column?

In [15]:
chipo.groupby(['choice_description']).sum().sort_values(['quantity'], ascending = False).head(1)

<ipython-input-15-aec25c5e2521>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipo.groupby(['choice_description']).sum().sort_values(['quantity'], ascending = False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

Step 12. How many items were orderd in total?

In [16]:
chipo['quantity'].sum()

4972

Step 13. Turn the item price into a float

In [17]:
chipo.item_price.dtypes

dtype('O')

In [18]:
#Step 13.b. Create a lambda function and change the type of item price
chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x[1:-1]))

In [19]:
chipo.item_price.dtypes

dtype('float64')

Step 14. How much was the revenue for the period in the dataset?

In [20]:
chipo['item_price'].sum()

34500.16

Step 15. How many orders were made in the period?

In [21]:
len(chipo['order_id'].unique())

1834

Step 16. What is the average revenue amount per order?

In [22]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

In [23]:
chipo.revenue

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: revenue, Length: 4622, dtype: float64

In [24]:
#total orders
tot_sum_order = chipo.groupby(by=['order_id']).sum()

<ipython-input-24-cef02d955106>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tot_sum_order = chipo.groupby(by=['order_id']).sum()

In [25]:
tot_sum_order

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
...            ...         ...      ...
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

In [26]:
#average
tot_sum_order.mean()['revenue']

21.39423118865867

Step 17. How many different items are sold?

In [27]:
chipo['item_name'].value_counts().count()

50